@font-face {
  font-family: 'sofia_proregular';
  src: url('../fonts/sofia_pro_regular_az-webfont.woff2') format('woff2'),
  url('../fonts/sofia_pro_regular_az-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'sofia_probold';
  src: url('../fonts/sofia_pro_bold_az-webfont.woff2') format('woff2'),
  url('../fonts/sofia_pro_bold_az-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}